/* CSS Box Model Example */

h1 {
    width: 250px;
    height: 50px;
    padding: 10px 10px 10px 10px;
           /*Top Right Bottom Left*/
    border: 5px solid darkorange;
    margin: 20px 10px 60px 40px;
           /*Top Right Bottom Left*/
}

